﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, innitial-sacle = 1.0" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*@Styles.Render("~/Content/css")*@
    @*@Styles.Render("~/Content/Journal.css")*@
    @Styles.Render("~/Content/Flatly.css")
    @*@Styles.Render("~/Content/Cerulean.css")*@
    @*@Styles.Render("~/Content/Readable.css")*@
    @*@Styles.Render("~/Content/Sandstone.css")*@
    @*@Styles.Render("~/Content/Simplex.css")*@
    @*@Styles.Render("~/Content/Slet.css")
    @Styles.Render("~/Content/SpaceLab.css")
    @Styles.Render("~/Content/Superhero.css")
    @Styles.Render("~/Content/Yeti.css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Mike CM System", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Products", "GetAllProducts", "Product")</li>
                <li>@Html.ActionLink("Add a product", "AddProduct", "Product")</li>
                <li>
                    @Html.ActionLink("Cart", "Cart", "Product")
                </li>
                <li>@Html.ActionLink("Saved for later", "SaveForLater", "Product")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col col-lg-2"></div>
            <div class="col col-lg-6">
                @RenderBody()
            </div>
            <div class="col col-lg-1"></div>
            <div class="col col-lg-3">
                @RenderSection("rightNavBar", false)
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
            </div>
        </div>


        <div style="position: fixed; bottom: 0; text-align: center">
            <footer>
                <p>&copy; @DateTime.Now.Year - Mike CM System</p>
            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@RenderSection("scripts", required: false)*@
        @RenderSection("myScript", required: false)
    </div>
</body>
</html>
