﻿@model CM.Models.Card

@{
    ViewBag.Title = "AddCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}    
<br />
<br />
<br />
<h2>Add a debit card or credit card</h2>

@using (Html.BeginForm("AddCard", "Card"))
{
    @Html.ValidationSummary(true)
    @*@Html.HiddenFor(c => c.ApplicationUser_Id)*@
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(c => c.NameOnCard)
            @Html.TextBoxFor(c => c.NameOnCard, new {@class = "form-control"})
            @Html.ValidationMessage("NameOnCard", new {@class = "field-validation-error text-danger"})
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(c => c.CardNumber)
            @Html.TextBoxFor(c => c.CardNumber, new {@class = "form-control"})
            @Html.ValidationMessage("CardNumber", new {@class = "field-validation-error text-danger"})
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(c => c.ExpirationDate)
            @Html.TextBoxFor(c => c.ExpirationDate, new {@class = "form-control"})
            @Html.ValidationMessage("ExpirationDate", new {@class = "field-validation-error text-danger"})
        </div>
    </div>
    <button class="btn alert-info" type="submit">Save</button>
    <hr/>
    <div>
        <h4>Mike accepts all major credit and debit cards:</h4>
        <img src="~/Images/creditCard.jpg" style="height: 200px; width: 300px"/>
    </div>

}