﻿@model IEnumerable<CM.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}
<br/>
<br/>
<br/>
<br/>
<h1>Your orders</h1>
<div class="container-fluid">

        @foreach (var order in Model)
        {
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                    <tr class="panel panel-default">
                        <th class="panel panel-heading">ORDER PLACED</th>
                        <th class="panel panel-heading">TOTAL</th>
                        <th class="panel panel-heading">SHIP TO </th>
                        <th class="panel panel-heading">ORDER #: @order.OrderId</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="panel panel-default">
                            <td class="panel panel-heading">@order.OrderDate</td>
                            <td class="panel panel-heading">$@order.GrandTotal</td>
                            <td class="panel panel-heading">@order.ShipTo</td>
                            <td class="panel panel-heading">
                                @Html.ActionLink("Order Details", "Orders") |
                                @Html.ActionLink("Invoice", "Orders")
                            </td>
                        </tr>
                    <tr>
                        <td>
                            <h2>@order.ProductName</h2>
                            <p>Sold by:</p>
                            <p>Unit price: <b style="color: darkred">$@order.UnitPrice </b></p>
                            @Html.ActionLink("Buy again", "Orders")
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <a href='@Url.Action("TrackPackage", "Order")' class="btn  btn-warning btn-lg btn-block">Track package</a>
                            <a href='@Url.Action("CancelItem", "Order")' class="btn btn-default btn-lg btn-block">Cancel items</a>
                            <a href='@Url.Action("ViewEditOrder", "Order")' class="btn btn-default btn-lg btn-block">View/Edit order</a>
                            <a href='@Url.Action("CancelOrder", "Order")' class="btn btn-default btn-lg btn-block">Cancel order</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
    }
</div>


