﻿@*@model IEnumerable<CM.Models.SelectedItem>
@{
    ViewBag.Title = "AddToCart";
}

<h2>Your Cart</h2>

<ol>
    @foreach (var p in Model)
    {
        foreach (var pro in p.Products)
        {
            <div class="jumbotron">
                <b>@pro.Name</b>
                <p>@pro.ProductDescription</p>
                <p>@pro.CurrentPrice</p>
            </div>
        }

    }
</ol>*@
