﻿@using CM.Controllers
@using Microsoft.AspNet.Identity
@model List<CM.ViewModel.DisplaySelectedItem>

@{
    ViewBag.Title = "Your Cart";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
    decimal? sum = 0M;
    int itemCount = 0;
    string sumValue = "";
    string subTotalLabel = "";
    //ProductController productController = new ProductController();
    //var userId = User.Identity.GetUserId();
    //var itemsInCart = productController.DisplaySelectedItems(userId);
}

<div>
    <br />
    <br />
    <br />
    <h1 style="font-weight: bolder">Your shopping cart</h1>

    @if (Model != null)
    {
        <div class="panel panel-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8"></div>
                    @*<div class="col-sm-2"> Unit price</div>*@
                    <div class="col-sm-2"> </div>
                </div>
            </div>
            @foreach (var p in Model)
            {
                itemCount++;
                <div class="container-fluid">
                    <div class="rowQuntity">
                        <div class="col-sm-7" style="font-weight: bolder; color: darkcyan">
                            <h2>@p.PName</h2>
                            <div class="col-sm-3 col-md-6"
                                 style="color:blue">
                                <img src="~/Images/s8.jpg"
                                     width="200"
                                     height="200" />
                            </div>
                        </div>
                        @*<div id="price" class="col-sm-3">
                            <h2 style="color: darkred">$@p.PPrice</h2>
                        </div>*@
                        @*<div class="col-sm-2">
                            <h2 class ="price" style="color: darkred">@p.PPrice</h2>
                            <b>Qty:</b>
                            <select class="quantity">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                            </select>
                        </div>*@
                        <div class="col-sm-3">
                            <a class="btn  btn-danger btn-lg btn-block" href="@Url.Action("Delete", "Product", new { selectedItemId = p.SelectedItemId })">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a> 
                            <a class="btn  btn-success btn-lg btn-block" href="@Url.Action("MoveToSaveForLater", "Product", new {selectedItemId = p.SelectedItemId})">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save for later
                            </a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ActionLink("Delete", "Delete", new {selectedItemId = p.SelectedItemId}) |
                            @Html.ActionLink("Save for later", "MoveToSaveForLater", new {selectedItemId = p.SelectedItemId})
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
        <div>
                    @if (Model.Count == 0)
                    {
                        <h1 style="color: red">Your cart is empty. Please fill your shopping cart with one of our products.</h1>
                    }
        </div>
    }
    else
    {
        <div>
            @Html.Label("Your Shopping Cart is empty.")
            <h1>
                Your Shopping Cart lives to serve. Give it purpose — fill it with books, CDs, DVDs, toys, electronics, and more.
                If you already have an account, Sign In to see your Cart.
            </h1>
            See personalized recommendations
            @Html.ActionLink("Sign in", "Login", "Account")

            New customer?
            @Html.ActionLink("Start here", "Register", "Account")
        </div>
    }
</div>


@section rightNavBar
{
    @*@if (itemsInCart.Count() != 0)
    {
        foreach (var p in Model)
        {
            sum += p.PPrice;
            sumValue = "$" + sum.ToString();
            subTotalLabel = "Subtotal (" + itemCount + " item(s)):";
        }
    }
    else
    {
        subTotalLabel = "";
    }*@
    
    <table class="table" style="position: fixed; top: 0">
        <tr>
            <td>
                <img src='@Url.Content("~/Images/shopping_cart.png")' style="overflow: hidden; position: relative; width:400px; height:400px;" />
            </td>
        </tr>
        <tr>
            @*<td>
                <h1><b> @subTotalLabel </b></h1>
                <h1>
                     <label id="subTotal" name="subTotal" style="font-weight: bolder; color: darkred">0.00</label>
                </h1>
            </td>*@
        </tr>
        <tr>
            <td>
                @if (Model.Count() != 0)
                {
                    <a href='@Url.Action("Checkout", "CheckOut")' class="btn btn-warning btn-lg">Proceed to checkout</a>
                }
            </td>
        </tr>
    </table>

}
@section myScript
{
    <script src="~/Scripts/myJavaScript.js"></script>

}

