﻿
@{
    ViewBag.Title = "DeleteFromSaveForLaterList";
}

<h2>You have deleted the item successfully! </h2>
<h3>Note: this view is a temporary view. My plan is to display items in the cart and saved for later items on the same view. However, the implementation is on the way.</h3>

