﻿@model CM.Models.Product
@{
    ViewBag.Title = "UpdateProduct";
}

<br/>
<br/>
<br/>
<h2>Update Product</h2>

@using (Html.BeginForm())
{
    @*@Html.ValidationSummary(true)*@
            @Html.HiddenFor(p => p.ProductId)
        <div class="form-group">
            @Html.LabelFor(p => p.Name)
            @Html.TextBoxFor(p => p.Name, new {@class = "form-control"})
            @Html.ValidationMessage("Name", new { @class = "field-validation-error text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.ProductDescription)
            @Html.TextBoxFor(p => p.ProductDescription, new {@class = "form-control"})
            @Html.ValidationMessage("ProductDescription", new { @class = "field-validation-error text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.CurrentPrice)
            @Html.TextBoxFor(p => p.CurrentPrice, new {@class = "form-control"})
            @Html.ValidationMessage("CurrentPrice", new { @class = "field-validation-error text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.ProductLink)
            @Html.TextBoxFor(p => p.ProductLink, new {@class = "form-control"})
        </div>
        <button class="btn btn-primary" type="submit"> Edit </button>

}
