﻿@model IEnumerable<CM.Models.Product>
@{
    ViewBag.Title = "GetAllProducts";
}

<h2>All Products</h2>

<ul >
    @foreach (var p in Model)
    {
        <div class="jumbotron">
            <a href=@p.ProductLink><b>@p.Name</b></a>
            <p>@p.ProductDescription</p>
            <b>Price:</b> $@p.CurrentPrice <br/>
            @Html.ActionLink("Add to cart", "AddToCart", new {Id = p.ProductId}) |
            @Html.ActionLink("Edit", "EditProduct", new {id = p.ProductId})
        </div>
    }
</ul>

