﻿@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductDetail</h2>

@model CM.Models.Product

@{
    ViewBag.Title = "EachProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> Product Specification </h3>
<div ng - controller="MainCtrl">
  <div class="panel panel-default">
        <div class="panel-heading">
            <a href=@Model.ProductLink>@Model.Name</a> 
        </div>
        <div class="panel-body">
            <div class="col-sm-3 col-md-6"
                 style="color:blue">
                <img src="~/Images/s8.jpg"
                     width="400"
                     height="400" />
            </div>
            <div class="col-sm-9 col-md-6">
                <h3>
                    <span id="mobilename" style="color:black"><b> Product name: </b></span>
                </h3>
                <h6>
                    <span id="mobilename" style="color:black">@Model.Name</span>
                </h6>
                <h3>
                    <span id="mobilename" style="color:black"> <b> Features: </b></span>
                </h3>
                <h6>
                    <span id="mobilename" style="color:black"> @Model.ProductDescription </span>
                </h6>
                <h3>
                    <span id="mobilename" style="color:black"><b> Price: </b></span>
                </h3>
                <h6>
                    <span id="mobilename" style="color:black">$@Model.CurrentPrice</span>
                </h6>
            </div>
        </div>
        <div>
            <a id="btn_add" href="@Url.Action("AddToCart", "Product", new {id = Model.ProductId})" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-shopping-cart"> </span> Add To Cart
            </a>
            <a id="btn_add" href="@Url.Action("Index", "Home")" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-eye-open"> </span>Continue shopping
            </a>
        </div>
    </div>
</div>
