﻿@model IEnumerable<CM.ViewModel.DisplaySelectedItem>
@{
    ViewBag.Title = "SaveForLater";
}

<h2>Saved For Later</h2>
<h1>
    <a class="btn btn-lg btn-primary" href="@Url.Action("Cart", "Product")">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to cart
    </a>
</h1>

@foreach (var p in Model)
{
    <div class="jumbotron">
        <h2 style="color: darkcyan"><b>@p.PName</b></h2>
        <label>Product description:</label>
        @p.PDescription <br />
        <label><b>Price:</b></label>
        <b style="color: darkred">$@p.PPrice</b> <br />
        <label>Quantity:</label>
        @p.PQuantity <br />
        <a href="@Url.Action("MoveToCart", "Product", new {selectedItemId = p.SelectedItemId})">
            <span class="glyphicon glyphicon-arrow-left"></span> Move to cart
        </a>
        <a href="@Url.Action("DeleteFromSaveForLaterList", "Product", new {selectedItemId = p.SelectedItemId})">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
        @*@Html.ActionLink("Move to art", "MoveToCart", new { selectedItemId = p.SelectedItemId}) |
        @Html.ActionLink("Delete", "DeleteFromSaveForLaterList", new {selectedItemId = p.SelectedItemId})*@
    </div>
}
