﻿@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <img src="~/Images/mike2 (3).jpg"/>
        <h1>WE ARE COOL</h1>
        <img src="~/Images/dani.jpg"/>
        <p class="lead">Behind Dani is the breath taking view of Seattle downtown from the 73rd floor of Columbia Center building.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">IT LOOKS LIKE ST.GEORGES HORSE, BUT WHAT DO I KNOW? &raquo;</a>
        </p>
        <img src="~/Images/mike2 (2).jpg"/>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/mike2 (1).jpg"/>
            <h2>IT LOOKS LIKE ST.GEORGES HORSE, BUT WHAT DO I KNOW</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">BUT WHAT DO I KNOW &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@


@model IEnumerable<CM.Models.Product>

@{
    ViewBag.Title = "Microsoft Mobiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail"style="padding: 30px">
                <a href="@Url.Action("ProductDetail", "Product", new {productId = p.ProductId})">
                    <div class="row">
                        <h4>@p.Name</h4>
                        <p>
                            <a href="@Url.Action("MoveToSaveForLater", "Product", new { selectedItemId = p.ProductId })">
                                <span class="glyphicon glyphicon-heart" style="color: darkorange; pointer-events: fill"
                                      contextmenu="Added To WishList">
                                </span>
                            </a>
                        </p>
                        <p>
                            <img src="~/Images/s8.jpg" style="overflow: hidden; position: relative; width: 300px; height: 300px;" />
                        </p>
                        <a class="btn btn-default" href="@Url.Action("ProductDetail", "Product", new {productId = p.ProductId})">View More»</a>
                        <a href="@Url.Action("AddToCart", "Product", new {id = p.ProductId})">
                            <span class="glyphicon glyphicon-shopping-cart" style="color: green"></span>Add to cart
                        </a>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
