﻿@model CM.Models.Card

@{
    ViewBag.Title = "AddCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
<br/>
<h2>Add a debit card or credit card</h2>

@using (Html.BeginForm("AddCard", "CheckOut"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c => c.ApplicationUser_Id)
    <div class="form-group">
        @Html.LabelFor(c => c.NameOnCard)
        @Html.TextBoxFor(c => c.NameOnCard, new{@class="form-control"})
        @Html.ValidationMessage("NameOnCard", new {@class = "field-validation-error text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.CardNumber)
        @Html.TextBoxFor(c => c.CardNumber, new{@class="form-control"})
        @Html.ValidationMessage("CardNumber", new {@class = "field-validation-error text-danger"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ExpirationDate)
        @Html.TextBoxFor(c => c.ExpirationDate, new{@class="form-control"})
        @Html.ValidationMessage("NameOnCard", new {@class = "field-validation-error text-danger"})
    </div>
        <button class="btn alert-info" type="submit">Save</button>
}

