﻿@model CM.ViewModel.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
    int sum = 0;
}
<br/>
<br/>
<br/>
<h1>Check out</h1>
<form action="/Checkout/Checkout" method="post">
    @*<button class="btn btn-success btn-lg" data-toggle="collapse" data-target="#addressInfo">Address information</button>*@
    <div class="btn btn-sm" data-toggle="collapse" data-target="#addressInfo">
        <h3 style="color: darkorange">1. Choose shipping address</h3>
    </div>
    <div id="addressInfo" class="panel panel-default">
        <table id="address" class="table">
            <tr>
                <td><b>Shipping address: </b></td>

                <td>
                    @foreach (var ad in Model.Addresses)
                {
                        <h4><input type="radio" name="addressId" value="@ad.AddressId" /> @ad.FullName</h4>
                        @ad.StreetLine1<br />
                        @ad.City
                        @ad.State<br />
                        @ad.ZipCode<br />
                        @ad.Country
                        <br />
                        @Html.ActionLink("Edit", "EditAddress", "CheckOut", new {addressId = ad.AddressId}, null)
                }
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href='@Url.Action("AddAddress", "CheckOut")'>Add new address</a>
                </td>
            </tr>
        </table>

    </div>

    @*<button class="btn btn-success btn-lg" data-toggle="collapse" data-target="#paymentInfo">Payment information</button>*@
    <div class="btn" data-toggle="collapse" data-target="#paymentInfo">
        <h3 style="color: darkorange">2. Choose a payment method</h3>
    </div>
    <div id="paymentInfo" class="panel panel-default">
        <table id="paymentMethod" class="table">
            <tr>
                <td><b>card ending in:</b></td>
                <td><b>Name on card:</b></td>
                <td><b>Expires on:</b></td>
            </tr>
            @foreach (var card in Model.Cards)
        {
                <tr>
                    <td><input type="radio" name="cardId" value="@card.CardId" />@card.CardNumber</td>
                    <td>@card.NameOnCard</td>
                    <td>@card.ExpirationDate.ToShortDateString()</td>
                </tr>
        }
            <tr>
                <td>
                    <a href='@Url.Action("AddCard", "Card")'>Add a card</a>
                </td>
            </tr>
        </table>
    </div>

    @*<button class="btn btn-success btn-lg" data-toggle="collapse" data-target="#orderSummaryInfo">Order summary</button>*@
    <div class="btn" data-toggle="collapse" data-target="#orderSummaryInfo">
        <h3 style="color: darkorange">3. Review your order</h3>
    </div>
    <div id="orderSummaryInfo" class="panel panel-default">
        <table id="orderSummary" class="table">
            @foreach (var item in Model.OrderItems)
            {
                <tr class="panel panel-default">
                    <td>
                        <img src="~/Images/s8.jpg" alt="Product image" />
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-lg-7">
                                <input id="ProductId" name="ProductId" type="hidden" value="@item.ProductId" />
                                <a href="#"><h4>@item.PName</h4></a>
                                @item.PDescription<br />
                                <h4 class="price" style="color: darkred">@item.PPrice</h4>
                                Qty:<select class="quantity" name="quantity">
                                    <option>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <hr />
                            </div>

                        </div>
                    </td>
                    <td></td>
                </tr>
            }
            <tr>
                <td>
                    <h2 style="color: darkred">Order total before tax:</h2>
                    <h2 style="color: darkred" id="subTotal"></h2>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning">Place your order</button>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div style="position: fixed; top: 100px; right: 0;" class="well">
        <div class="row">
            <div class="col col-lg-3"></div>
            <div class="col col-lg-8">
                <button type="submit" class="btn btn-warning">Place your order</button>
            </div>
            <div class="col col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col col-lg-3"></div>
            <div class="col col-lg-8">
                <p>
                    By placing your order, you agree to Mike CM System's privacy notice and conditions of use.
                </p>
            </div>
            <div class="col col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col col-lg-3"></div>
            <div class="col col-lg-8">
                <h2>
                    Order summary
                </h2>
            </div>
            <div class="col col-lg-1"></div>
        </div>
        @foreach (var item in Model.OrderItems)
        {
            <div class="row">
                <div class="col col-lg-3"></div>
                <div class="col col-lg-5">
                    <h4>Total before tax:</h4>
                </div>
                <div class="col col-lg-3">
                    <h4><b id="totalBeforeTax"></b></h4>
                </div>
                <div class="col col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col col-lg-3"></div>
                <div class="col col-lg-5">
                    <h4>Tax(10%):</h4>
                </div>
                <div class="col col-lg-3">
                    <h4><b id="tax"></b></h4>
                </div>
                <div class="col col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col col-lg-3"></div>
                <div class="col col-lg-5">
                    <h2 style="font-weight: bolder; color: darkred">Order total:</h2>
                </div>
                <div class="col col-lg-3">
                    <h2 style="color: darkred" id="total"></h2>
                </div>
                <div class="col col-lg-1"></div>
            </div>
        }
    </div>
</form>
@section myScript
{
    <script src="~/Scripts/myJavaScript.js"></script>

}


