﻿@model CM.Models.Address
@{
    ViewBag.Title = "ChangeAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Change Address</h2>
@using (Html.BeginForm("EditAddress", "CheckOut"))
{
    <div style="position: fixed; top: 40px">
        <table class="table">
            <tr>
                <th>
                    <h2>Add your address</h2>
                </th>
            </tr>
            <tr>
                <td width="600px">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(a => a.ApplicationUser_Id)
                    <div class="form-group">
                        @Html.LabelFor(a => a.FullName)
                        @Html.TextBoxFor(a => a.FullName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.StreetLine1)
                        @Html.TextBoxFor(a => a.StreetLine1, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.StreetLine2)
                        @Html.TextBoxFor(a => a.StreetLine2, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.City)
                        @Html.TextBoxFor(a => a.City, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.State)
                        @Html.DropDownListFor(a => a.State, new SelectList(new List<string>()
                        {"AK", "AL", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS",
                            "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY",
                            "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
                        }), "Select State", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.ZipCode)
                        @Html.TextBoxFor(a => a.ZipCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Country)
                        @Html.DropDownListFor(a => a.Country, new SelectList(new List<string>() { "United States" }), new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(a => a.UseThisAddress)
                        @Html.LabelFor(a => a.UseThisAddress)
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button> |
                        @Html.ActionLink("Cancel", "CheckOut")
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
}
